* {
  box-sizing: border-box;
}

:root {
  --board-len: 10;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(var(--board-len), 1fr);
  grid-template-rows: repeat(var(--board-len), 1fr);
  width: min(400px, 100vw);
  height: min(400px, 100vw);
  border: 2px solid black;
}

.game-board.finished {
  pointer-events: none;
}

.position {
  border: 1px solid black;
}

.ship {
  background-color: green;
}

.position.hit,
.position.miss,
.position.invalid {
  pointer-events: none;
}

.position.hit {
  background-color: red;
}

.position.miss {
  background-color: yellowgreen;
}

.position.invalid {
  background-color: gray;
}

.selectable {
  cursor: pointer;
}

.game-over {
  pointer-events: none;
}
